---
http_interactions:
- request:
    method: get
    uri: https://api.checkr.com/ca/v1/candidates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2YyOWI3ZDJjYmU4N2FiNWRlOTY4YjNkNjg4NmZiYjNlNzkxZDM0MTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"133389a0911b1c2f5cf8107a","custom_id":null,"birth_country":"CA","birth_place":null,"dob":"1984-03-19","driver_license_number":null,"driver_license_province":null,"email":"qj9@uabcekudalwcwpniyuigciftbsday.hmus","entry_date":null,"first_name":"Eiusmod
        Sunt","gender":"F","last_name":"Officia Id Irure Sint","middle_name":"Sint
        Esse Eiu","mother_maiden_name":null,"nationality":null,"object":"test_candidate","phone":"minim
        nisi consectetur","province":null,"uri":"/ca/v1/candidates/133389a0911b1c2f5cf8107a","created_at":"2017-11-06T21:19:55Z","address_ids":[],"disclosed_criminal_record_ids":[],"id_document_ids":[],"signature_id":null,"consent_id":null}],"object":"list","next_href":null,"previous_href":null,"count":1}'
  recorded_at: Mon, 06 Nov 2017 21:23:41 GMT
recorded_with: VCR 3.0.3
