---
http_interactions:
- request:
    method: put
    uri: https://api.checkr.com/ca/v1/candidates/3336a9286f8d33f7c10f7692
    body:
      encoding: UTF-8
      string: nationality=IN
    headers:
      Authorization:
      - Basic M2YyOWI3ZDJjYmU4N2FiNWRlOTY4YjNkNjg4NmZiYjNlNzkxZDM0MTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"3336a9286f8d33f7c10f7692","custom_id":null,"birth_country":"CA","birth_place":"Tempor","dob":"1984-03-12","driver_license_number":"QUI
        LABORIS NULLA MAGNA","driver_license_province":"QC","email":"jd@example.com","entry_date":null,"first_name":"John","gender":"F","last_name":"Doe","middle_name":null,"mother_maiden_name":null,"nationality":"IN","object":"test_candidate","phone":"phonenumber","province":null,"uri":"/ca/v1/candidates/3336a9286f8d33f7c10f7692","created_at":"2017-11-06T21:23:41Z","address_ids":["94ba11f983c44ee038639223"],"disclosed_criminal_record_ids":[878],"id_document_ids":[],"signature_id":null,"consent_id":"7021aac470f9a89873bc6c0e"}'
  recorded_at: Mon, 06 Nov 2017 22:36:37 GMT
recorded_with: VCR 3.0.3
