---
http_interactions:
- request:
    method: post
    uri: https://api.checkr.com/ca/v1/candidates
    body:
      encoding: UTF-8
      string: birth_country=CA&dob=1984-03-12&email=jd%40example.com&first_name=John&gender&last_name=Doe&phone=phonenumber
    headers:
      Authorization:
      - Basic M2YyOWI3ZDJjYmU4N2FiNWRlOTY4YjNkNjg4NmZiYjNlNzkxZDM0MTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"3336a9286f8d33f7c10f7692","custom_id":null,"birth_country":"CA","birth_place":null,"dob":"1984-03-12","driver_license_number":null,"driver_license_province":null,"email":"jd@example.com","entry_date":null,"first_name":"John","gender":null,"last_name":"Doe","middle_name":null,"mother_maiden_name":null,"nationality":null,"object":"test_candidate","phone":"phonenumber","province":null,"uri":"/ca/v1/candidates/3336a9286f8d33f7c10f7692","created_at":"2017-11-06T21:23:41Z","address_ids":[],"disclosed_criminal_record_ids":[],"id_document_ids":[],"signature_id":null,"consent_id":null}'
  recorded_at: Mon, 06 Nov 2017 21:23:41 GMT
recorded_with: VCR 3.0.3
