---
http_interactions:
- request:
    method: post
    uri: https://api.checkr.com/ca/v1/candidates/3336a9286f8d33f7c10f7692/reports
    body:
      encoding: UTF-8
      string: package=mvr
    headers:
      Authorization:
      - Basic M2YyOWI3ZDJjYmU4N2FiNWRlOTY4YjNkNjg4NmZiYjNlNzkxZDM0MTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"04e73a508c2a0e6f9242a2ce","object":"test_report","uri":"/ca/v1/reports/04e73a508c2a0e6f9242a2ce","package":"mvr","status":"pending","adjudication":null,"created_at":"2017-11-06T22:21:35Z","completed_at":null,"turnaround_time":null,"account_id":"b83c8149c066a651c4a40a2c","candidate_id":"3336a9286f8d33f7c10f7692","motor_vehicle_report_id":"5a00e06fe39ee600110c0b8e","national_criminal_search_id":null,"criminal_record_ids":[878],"document_ids":[]}'
  recorded_at: Mon, 06 Nov 2017 22:21:35 GMT
recorded_with: VCR 3.0.3
