---
http_interactions:
- request:
    method: post
    uri: https://api.checkr.com/ca/v1/candidates/3336a9286f8d33f7c10f7692/criminal_records
    body:
      encoding: UTF-8
      string: location=nova+scotia&offence=offence+string&sentence_date=2010%2F01%2F01
    headers:
      Authorization:
      - Basic M2YyOWI3ZDJjYmU4N2FiNWRlOTY4YjNkNjg4NmZiYjNlNzkxZDM0MTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"4e309411df8873b9d40260b1","uri":"/ca/v1/criminal_records/4e309411df8873b9d40260b1","object":"criminal_record","location":"nova
        scotia","offence":"offence string","sentence_date":"2010-01-01","created_at":"2017-11-06T22:04:27Z","updated_at":"2017-11-06T22:04:27Z"}'
  recorded_at: Mon, 06 Nov 2017 22:04:28 GMT
recorded_with: VCR 3.0.3
