---
http_interactions:
- request:
    method: post
    uri: https://api.checkr.com/ca/v1/candidates/3336a9286f8d33f7c10f7692/addresses
    body:
      encoding: UTF-8
      string: city=Montreal&country=CA&postal_code=postal_code&region=QC&start_date=2017%2F01%2F19&street1=street1&street2=street2
    headers:
      Authorization:
      - Basic M2YyOWI3ZDJjYmU4N2FiNWRlOTY4YjNkNjg4NmZiYjNlNzkxZDM0MTo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"94ba11f983c44ee038639223","uri":"/ca/v1/addresses/94ba11f983c44ee038639223","object":"address","created_at":"2017-11-06T21:45:07Z","updated_at":"2017-11-06T21:45:07Z","street1":"Street1","street2":"Street2","city":"Montreal","region":"QC","province":"QC","postal_code":"POSTAL_CODE","country":"CA","start_date":"2017-01-19"}'
  recorded_at: Mon, 06 Nov 2017 21:45:07 GMT
recorded_with: VCR 3.0.3
